<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

	<resultMap id="chatResult" type="Chat">
		<result column="chat_no" property="chatNo"/>
		<result column="chat_to" property="chatTo"/>
		<result column="chat_from" property="chatFrom"/>
	</resultMap>

	<insert	id="insertChat">
		insert into chat
		(
			chat_no
		,	chat_to
		,	chat_from
		)
		values
		(
			seq_chat_no.nextval
		,	#{chatTo}
		,	#{chatFrom}
		)
	</insert>

</mapper>